.profileIcons {
    font-size: 130px;
    color: #66fcf1;
}
.IconText {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: #c5c6c7;
}

.IconContainer {
    margin-bottom: 140px;
    margin-top: 140px;
}

.section-head {
    border-bottom: 3px solid #45a29e;
    text-align: center;
    padding-top: 30px;
}

.image-cell{
    align-items: center;
}

.cell-image{
    border: black 30px;
    align-items: center;
    margin-left: 390px;
    width: 30%;
    height: 40%;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
