.contactIcon {
    margin-top: 50px;
    font-size: 50px;
    color: #66fcf1;
}

.fab{
    font-size:50px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.social{
    margin-top: 0px;
    font-size: 50px;
    color: #66fcf1;
    ;
}

.contact-section {
    color: #c5c6c7;
    padding-bottom: 800px;
}